#container {
	width: 20em;
	height: 20em;
	display: grid;
	margin: auto;
	border: 2px black dotted;
}

.box {
	border: 1px solid black;
	/*padding: 20px;*/
}

.color1 {
	background-color: green;
}

.color2 {
	background-color: grey;
}

.color3 {
	background-color: black;
}