@font-face {
	font-family: roadrage;
	src: url('Road_Rage.otf');
}

h1 {
	font-family: roadrage;
}

#background {
	width: 70em;
	height: 70em;
	background-image: url('https://vignette.wikia.nocookie.net/simpsons/images/1/1b/The_simpsons_tv.png/revision/latest/scale-to-width-down/640?cb=20090831145451');
	background-repeat: no-repeat;
	position: absolute;
}

#container {
	width: 25em;
	height: 18em;
	display: grid;
	margin: auto;
	border: 2px white solid;
	background-color: white;
	position: absolute;
	top: 85px;
	left: 80px;
}

button {
	margin-left: auto;
	margin-right: auto;
}

.box {
	 /*border: 1px solid black;*/
	/*padding: 20px;*/
}

.color1 {
	background-color: #C45782;
}

.color2 {
	background-color: #FBDB20;
}

.color3 {
	background-color: #3163A0;
}

.color4 {
	background-color: #323995;
}