#container {
	display: grid;
	/*max-width: 50%;
	max-height: 50%;
	*/object-fit: contain;
	/*background-image: url('https://vignette.wikia.nocookie.net/simpsons/images/1/1b/The_simpsons_tv.png/revision/latest/scale-to-width-down/640?cb=20090831145451');*/
}

/*#tv {
	width: 400px;
	height: 400px;
	
}*/

.box {
	padding: 5px;
	border: 1px solid black;
}

.color1 {
	background-color: green;
}

.color2 {
	background-color: grey;
}

.secondColor {
	background-color: grey;
}